@import "@/styles/mixin.scss";
@import "./common.module.scss";

.page {
  width: 100%;
}

/* 页面内容区域 */
.content {
  padding: 0px 0 40px 0;
  margin: 0 auto;
  // pc访问时，内容区域最大宽度也只占600
  max-width: 600px;
  position: relative;
}

/* 标题 */
.title {
  text-align: center;
  font-size: 24px;
  color: #222;
  padding: 10px $pagePadding 0 $pagePadding;
  margin-bottom: 20px;
}

/* 表单 */
.form {
}
/* 选择图片按钮 */
.select {
  width: $pageWidth;
  height: 50px;
  margin: 0 auto;
}
/* 重新选择按钮 */
.reselect {
  width: $pageWidth;
  height: 50px;
  display: flex;
  margin: 0 auto;
  &Left {
    flex: 1 1 0;
    position: relative;
    /* 覆盖样式 */
    .reselectImgBtn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  &Right {
    flex: 0 0 auto;
    background-color: #fff;
    @include activeOpacity;
    @include flexCenter;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    &Text {
      color: #222;
    }
  }
}

/*
 * 媒体查询，兼容pc、移动端
 */
/* 宽度小于500px时，应用的样式（移动端） */
@media screen and (max-width: 500px) {
}
