@import "@/styles/mixin.scss";
@import "./common.module.scss";

.page {
  width: 100%;
}

/* 页面内容区域 */
.content {
  padding: 0px 0 40px 0;
  margin: 0 auto;
  // pc访问时，内容区域最大宽度也只占600
  max-width: 600px;
  position: relative;
}

/* 标题 */
.title {
  margin: 30px 0;
  &Img {
    width: 291px;
    height: 26px;
    margin: 0 auto;
    display: block;
  }
}

/* 表单 */
.form {
  margin: 0 auto 20px auto;
}
/* 选择图片按钮 */
.select {
  width: $pageWidth;
  height: 50px;
  margin: 0 auto;
}
/* 重新选择按钮 */
.reselect {
  width: $pageWidth;
  height: 50px;
  display: flex;
  margin: 0 auto;
  border: 2px solid #222222;
  &Left {
    flex: 1 1 0;
    position: relative;
  }
  &Right {
    width: 90px;
    flex: 0 0 auto;
    background-color: #fff;
    @include activeOpacity;
    @include flexCenter;
    padding: 0 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    &Text {
      font-size: 16px;
      font-family: PingFangSC-Medium, PingFang SC;
      font-weight: 500;
      color: #222222;
    }
  }
}

/* 广告位 */
.ad {
  width: $pageWidth;
  height: 100px;
  margin: 0 auto 20px auto;
  @include flexCenter;
  background-color: rgb(245, 245, 245);

  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  // font-weight: 500;
  color: #666;
}

/*
 * 媒体查询，兼容pc、移动端
 */
/* 宽度小于500px时，应用的样式（移动端） */
@media screen and (max-width: 500px) {
}
