@import "@/styles/mixin.scss";
@import "../common.module.scss";

.wrap {
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 14px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  @include activeOpacity;
  padding: 10px 0;
  cursor: pointer;
  &Img {
    width: 19px;
    height: 19px;
    display: block;
    margin-right: 8px;
  }
  &Text {
    font-size: 14px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #222222;
  }
}

/* 分享 */
.share {
  cursor: pointer;
  &Img {
    width: 24px;
    height: 24px;
  }
}
