@import "@/styles/mixin.scss";

.wrap {
  padding: 30px 20px 30px 20px;
}

.title {
  font-size: 14px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #222222;
  text-align: center;
  margin-bottom: 15px;
}

.qrcode {
  width: 190px;
  height: 190px;
  display: block;
  margin: 0 auto;
}

.save {
  display: flex;
  align-items: center;
  justify-content: center;
  @include activeOpacity;
  width: fit-content;
  margin: 0 auto;
  &Icon {
    display: block;
    margin-right: 5px;
    width: 11px;
    height: 11px;
  }
  font-size: 12px;
  text-decoration: underline;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #666;
  text-align: center;
}
